.header__logo {
    background-image: url(../../../images/logo.svg);
    width: 142px;
    height: 74px;
    background-size: 142px 33px;
    transition: opacity 1s ease;
    background-repeat: no-repeat;
    margin-top: 45px;
}

.header__logo:hover {
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .header__logo { 
        width: 103.74px;
        height: 56px;
        background-size: 103.74px 24.4px;
        margin: 28px 0 0 28px;
    }
}