.profile__content {    
    margin: 0 0 0 30px;
    display: grid;
    max-width: 336px;
    grid-template-columns: 312px 24px;    
}

@media screen and (max-width: 930px) {
    .profile__content {
        grid-template-columns: 195px 18px; 
    }
}

@media screen and (max-width: 730px) {
    .profile__content { 
        margin: 26px 0 36px 0;
    }
}