.popup__close {
    background-image: url(../../../images/close_icon.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity 1s ease;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 730px) {
    .popup__close {        
        width: 26px;
        height: 26px;
        top: -45px;
        right: 10px;
    }
}